<a href="https://colab.research.google.com/github/oscarl11/curso_python_dmc/blob/main/Oscar_Luna_Ex%C3%A1men_Final_Fundamentos_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Realizar un print con tu nombre completo
print('Oscar Hernan Luna Silvera')

Oscar Hernan Luna Silvera

#Examen Final - Fundamentos de Python



1.   Desarrollar el examen teórico https://www.questionpro.com/t/ARQPVZjyp0
2.   Enviar los ejercicios de cada sesión.


# **NOTA: Enviar la información hasta las 23:59 PM del 22/11/2020**
Drive: https://drive.google.com/drive/folders/1Dny1t1c4qEy0MZ3_r9oOQjvL9TByoHVU?usp=sharing

### Laboratorio 01 

* Busque un personaje publico de su preferencia en wikipedia
* Haga un diccionario de la manera más simple.
* Haga luego un diccionario usando donde se pueda otras estructuras (listas, tuplas, diccionarios)

Referencia : https://github.com/juansalinasponce/course_python/blob/main/Sesion_02/Sesion02_FDP_Tipos_de_Datos.ipynb

In [ ]:
#creando diccionario
personaje = {'Nombres': "Marcus Rashford",'Edad':"23",'Club':"Manchester United",'Peso':"70kg",'Estatura':"1.8m",'Posicion':"Delantero",'Nacionalidad':"Inglesa",
             'Dorsal':"10",'Nacimiento':"31 de octubre de 1997",'Goles':"74",'Temporadas':"6",
             'Padres':"Robert Rashford,Melanie Rashford",'Hermanos':"Dane Rashford,Dwaine Rashford"}

personaje

{'Club': 'Manchester United',
 'Dorsal': '10',
 'Edad': '23',
 'Estatura': '1.8m',
 'Goles': '74',
 'Hermanos': 'Dane Rashford,Dwaine Rashford',
 'Nacimiento': '31 de octubre de 1997',
 'Nacionalidad': 'Inglesa',
 'Nombres': 'Marcus Rashford',
 'Padres': 'Robert Rashford,Melanie Rashford',
 'Peso': '70kg',
 'Posicion': 'Delantero',
 'Temporadas': '6'}

In [ ]:
Padres =["Robert Rashford","Melanie Rashford"]
Hermanos=["Dane Rashford","Dwaine Rashford"]

In [ ]:
personaje = {'Nombres': "Marcus Rashford",'Edad':"23",'Club':"Manchester United",'Peso':"70kg",'Estatura':"1.8m",'Posicion':"Delantero",'Nacionalidad':"Inglesa",
             'Dorsal':"10",'Nacimiento':"31 de octubre de 1997",'Goles':"74",'Temporadas':"6",
             'Padres':Padres,'Hermanos':Hermanos}
personaje

{'Club': 'Manchester United',
 'Dorsal': '10',
 'Edad': '23',
 'Estatura': '1.8m',
 'Goles': '74',
 'Hermanos': ['Dane Rashford', 'Dwaine Rashford'],
 'Nacimiento': '31 de octubre de 1997',
 'Nacionalidad': 'Inglesa',
 'Nombres': 'Marcus Rashford',
 'Padres': ['Robert Rashford', 'Melanie Rashford'],
 'Peso': '70kg',
 'Posicion': 'Delantero',
 'Temporadas': '6'}

### Laboratorio 02

Escribir un programa que reciba el siguiente texto y muestre:
* Cantidad de palabras distintas
* Frecuencia de cada palabra encontrada

`Un texto narrativo es aquel texto que cuenta una historia que se desarrolla en un período de tiempo y un lugar determinado. La narración hace referencia a la manera de contar la historia, en forma de secuencia o como una serie de acciones que realizan los personajes, y que permite al lector imaginarse la situación.`

Referencia: https://github.com/juansalinasponce/course_python/blob/main/Sesion_04/Sesi%C3%B3n04_FDP_OG7_Fechas_String.ipynb

In [ ]:
Narracion = 'Un texto narrativo es aquel texto que cuenta una historia que se desarrolla en un período de tiempo y un lugar determinado. La narración hace referencia a la manera de contar la historia, en forma de secuencia o como una serie de acciones que realizan los personajes, y que permite al lector imaginarse la situación.'

In [ ]:
listaPalabras = Narracion.split()

frecuenciaPalabra = []
for palabra in listaPalabras:
    frecuenciaPalabra.append(listaPalabras.count(palabra))

print("Cadena\n" + Narracion +"\n")
print("Lista\n" + str(listaPalabras) + "\n")
print("Frecuencias\n" + str(frecuenciaPalabra) + "\n")
print("Pares\n" + str(list(zip(listaPalabras, frecuenciaPalabra))))

Cadena
Un texto narrativo es aquel texto que cuenta una historia que se desarrolla en un período de tiempo y un lugar determinado. La narración hace referencia a la manera de contar la historia, en forma de secuencia o como una serie de acciones que realizan los personajes, y que permite al lector imaginarse la situación.

Lista
['Un', 'texto', 'narrativo', 'es', 'aquel', 'texto', 'que', 'cuenta', 'una', 'historia', 'que', 'se', 'desarrolla', 'en', 'un', 'período', 'de', 'tiempo', 'y', 'un', 'lugar', 'determinado.', 'La', 'narración', 'hace', 'referencia', 'a', 'la', 'manera', 'de', 'contar', 'la', 'historia,', 'en', 'forma', 'de', 'secuencia', 'o', 'como', 'una', 'serie', 'de', 'acciones', 'que', 'realizan', 'los', 'personajes,', 'y', 'que', 'permite', 'al', 'lector', 'imaginarse', 'la', 'situación.']

Frecuencias
[1, 2, 1, 1, 1, 2, 4, 1, 2, 1, 4, 1, 1, 2, 2, 1, 4, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 4, 1, 3, 1, 2, 1, 4, 1, 1, 1, 2, 1, 4, 1, 4, 1, 1, 1, 2, 4, 1, 1, 1, 1, 3, 1]

Pares
[('Un', 1), ('texto', 2), ('narrativo', 1), ('es', 1), ('aquel', 1), ('texto', 2), ('que', 4), ('cuenta', 1), ('una', 2), ('historia', 1), ('que', 4), ('se', 1), ('desarrolla', 1), ('en', 2), ('un', 2), ('período', 1), ('de', 4), ('tiempo', 1), ('y', 2), ('un', 2), ('lugar', 1), ('determinado.', 1), ('La', 1), ('narración', 1), ('hace', 1), ('referencia', 1), ('a', 1), ('la', 3), ('manera', 1), ('de', 4), ('contar', 1), ('la', 3), ('historia,', 1), ('en', 2), ('forma', 1), ('de', 4), ('secuencia', 1), ('o', 1), ('como', 1), ('una', 2), ('serie', 1), ('de', 4), ('acciones', 1), ('que', 4), ('realizan', 1), ('los', 1), ('personajes,', 1), ('y', 2), ('que', 4), ('permite', 1), ('al', 1), ('lector', 1), ('imaginarse', 1), ('la', 3), ('situación.', 1)]

### Laboratorio 03

Considere el siguiente diccionario data y lista de index

a. Crea un DataFrame a partir del diccionario y los índices.

b. Selecciona las columnas animaly age.

c. Indique cuantos tipos distintos de animales hay.

d. Indique cuantos animales hay de cada tipo.

e. Muestre un resumen estadístico de todas las variables.

In [ ]:
#Desarrolle su código
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#a
datos = pd.DataFrame(data,index=labels)
datos

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
#b
columnas =datos[['animal','age']]
columnas

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [ ]:
#c
datos.nunique(axis=0)

animal      3
age         7
visits      3
priority    2
dtype: int64

In [ ]:
#d
datos['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [ ]:
#e
datos.describe(include='all')

       animal       age     visits priority
count      10  8.000000  10.000000       10
unique      3       NaN        NaN        2
top       cat       NaN        NaN       no
freq        4       NaN        NaN        6
mean      NaN  3.437500   1.900000      NaN
std       NaN  2.007797   0.875595      NaN
min       NaN  0.500000   1.000000      NaN
25%       NaN  2.375000   1.000000      NaN
50%       NaN  3.000000   2.000000      NaN
75%       NaN  4.625000   2.750000      NaN
max       NaN  7.000000   3.000000      NaN