<a href="https://colab.research.google.com/github/oscarl11/curso_python_dmc/blob/main/Sesion02_Cursopython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#variable
x = 8
print(x)
x=9
print(x)
print(type(x))
y="Oscar"
print(y)
print(type(y))

8
9
<class 'int'>
Oscar
<class 'str'>

In [8]:
Nombres = "Oscar Hernan"
Apellidos = "Luna Silvera"
edad =24
print ("tu nombre es:",Nombres + " " +Apellidos, "Tu edad es:",edad)

tu nombre es: Oscar Hernan Luna Silvera Tu edad es: 24

In [11]:
b1="True"
b2=True
b3=False
print(type(b1))
print(type(b2))
print(type(b3))

<class 'str'>
<class 'bool'>
<class 'bool'>

In [17]:
num_entero= 8
num_negativo = -200
num_decimal= 4.5
num_real= 2.5e-07
num_complejo = 4.2 + 7j
num_binario = 0b111
num_octal = 0o10
print(type(num_entero))
print(type(num_negativo))
print(type(num_decimal))
print(type(num_real))
print(type(num_complejo))
print(type(num_binario))
print(num_binario)
print(type(num_octal))
print(num_octal)

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'int'>
7
<class 'int'>
8

In [19]:
lat = bytearray("España", "latin1")
print(lat)

bytearray(b'Espa\xf1a')

In [18]:
cadena = "esto es una cadena de texto"
print(type(cadena))
print(cadena)

<class 'str'>
esto es una cadena de texto

In [20]:
str = "España"
array1 = bytearray(str, 'utf-8') 
print(array1)

bytearray(b'Espa\xc3\xb1a')

In [26]:
Estudiante = []
Estudiante = ["Oscar Luna",24,False,"masculino","horario1"]
print(Estudiante [0])
print(Estudiante [1])
print(Estudiante [2])
#último elemento de la lista
print(Estudiante [-1])
# elementos de una lista hasta la posición 2
print(Estudiante [:2])
#elementos de una lista desde la posición 1 hasta la 4
print(Estudiante [1:4])

Oscar Luna
24
False
horario1
['Oscar Luna', 24]
[24, False, 'masculino']