<a href="https://colab.research.google.com/github/oscarl11/curso_python_dmc/blob/main/Sesion6_Fund_prog_pythonipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
serie = pd.Series([1979, 1980, 1981, 1982])
serie

0    1979
1    1980
2    1981
3    1982
dtype: int64

In [3]:
serie = pd.Series(data=[1979, 1980, 1981, 1982, 1983],
                  index=['carolina', 'martha', 'nicky', 'theresa', 'nicky'])
serie

carolina    1979
martha      1980
nicky       1981
theresa     1982
nicky       1983
dtype: int64

In [5]:
serie_pokemon = pd.read_csv('pokemon.csv', squeeze=True, usecols=['Name'])
serie_pokemon

0           Bulbasaur
1             Ivysaur
2            Venusaur
3       Mega Venusaur
4          Charmander
            ...
795           Diancie
796      Mega Diancie
797    Hoopa Confined
798     Hoopa Unbound
799         Volcanion
Name: Name, Length: 800, dtype: object

In [6]:
serie_pokemon[1:100]

1           Ivysaur
2          Venusaur
3     Mega Venusaur
4        Charmander
5        Charmeleon
          ...
95           Grimer
96              Muk
97         Shellder
98         Cloyster
99           Gastly
Name: Name, Length: 99, dtype: object

In [12]:
print(serie_pokemon[69])

Kadabra

In [13]:
nba = pd.read_csv('nba.csv')

In [14]:
nba.columns

Index(['Player', 'height', 'weight', 'collage', 'born', 'birth_city',
       'birth_state'],
      dtype='object')

In [15]:
nba.head(10)

            Player  height  weight  ...    born     birth_city   birth_state
0  Curly Armstrong   180.0    77.0  ...  1918.0            NaN           NaN
1     Cliff Barker   188.0    83.0  ...  1921.0       Yorktown       Indiana
2    Leo Barnhorst   193.0    86.0  ...  1924.0            NaN           NaN
3       Ed Bartels   196.0    88.0  ...  1925.0            NaN           NaN
4      Ralph Beard   178.0    79.0  ...  1927.0    Hardinsburg      Kentucky
5       Gene Berce   180.0    79.0  ...  1926.0            NaN           NaN
6    Charlie Black   196.0    90.0  ...  1921.0           Arco         Idaho
7      Nelson Bobb   183.0    77.0  ...  1924.0   Philadelphia  Pennsylvania
8  Jake Bornheimer   196.0    90.0  ...  1927.0  New Brunswick    New Jersey
9     Vince Boryla   196.0    95.0  ...  1927.0   East Chicago       Indiana

[10 rows x 7 columns]